a:link {
  text-decoration: none;
}
ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  opacity: 100%;
  position: relative;
  left: -100px;
  top: 100px;
  
  
}

li.lista1 {
  float: left;
}

li.lista1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #111;
  opacity: 90%;
  width: 100%;
 
}

li.lista1 a:hover {
  background-color: #252728;
   opacity: 100%
}

.header {
  padding: 100px;
  text-align: center;
  background-image: url("https://pixnio.com/free-images/2017/08/30/2017-08-30-07-00-48-1000x562.jpg");
  background-size: cover;
}



h1{
  text-align: center;
  color: white;
  text-decoration:underline;
  font-family: Copperplate;
}

* {
  box-sizing: border-box;
}
div.caja1 {
  
  height: 33.33%;
  width: 60%;
  background-image: url("https://pixnio.com/free-images/2017/08/16/2017-08-16-07-59-49-1000x664.jpg");
  background-size: 100%;
  background-size: 40%;
  margin-left: auto;
  margin-right: auto;
  
}
div.caja2 {
  
  height: 33.33%;
  width: 60%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Wv_Tokyo_banner.jpg/800px-Wv_Tokyo_banner.jpg");
  margin-left: auto;
  margin-right: auto;
  
}
div.caja:hover {
  opacity: 87%;
  background-color: #CCE8F1;
}
div.boton {
  
  height: 7%;
  width: 20%;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration:none;
  
  
}
div.boton:hover {
  background-color: #53CAF3;
}
.info {
  border-style: solid;
  border-width: 2px;
  border-color: white;
  color: white;
  text-decoration: none;
}
.info:hover {
	border-width: 0px;
}
.textopais {
  text-align:center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
}
h2.nombrepais{
	padding-left: 5px;
	padding-top: 5px;
}
