ul . menu {
  tipo de estilo de lista : ninguno;
  margen : 0 ;
  acolchado : 0 ;
  desbordamiento : oculto;
  color de fondo : # 333 ;
  opacidad : 30 %
}

li . lista1 {
  flotar : izquierda;
}

li . lista1  a {
  pantalla : bloque;
  color : blanco;
  alineación de texto : centro;
  relleno : 14 px  16 px ;
  decoración de texto : ninguna;
}

li . lista1  a : hover {
  color de fondo : # 111 ;
}
. encabezado {
  relleno : 20 px ;
  alineación de texto : centro;
}


. columna1 {
  flotar : izquierda;
  ancho : 60 % ;
  relleno : 15 px ;
}
. columna2 {
  flotar : izquierda;
  ancho : 60 % ;
  relleno : 15 px ;
}
. columna3 {
  flotar : izquierda;
  ancho : 60 % ;
  relleno : 15 px ;
}



borde : 1 px sólido # ccc ;
}

div. galería : hover {
  borde : 1 px sólido # 777 ;
}

div . galería  img {
  ancho : 100 % ;
  altura : auto;
}

div . desc {
  relleno : 15 px ;
  alineación de texto : centro;
}

* {
  tamaño de caja: caja de borde;
}

. receptivo {
  relleno : 0  6 px ;
  flotar : izquierda;
  ancho : 24,99999 % ;
}

@media  solo pantalla y ( ancho máximo : 700 px ) {
  . receptivo {
    ancho : 49,99999 % ;
    margen : 6 px  0 ;
  }
}

@media  solo pantalla y ( ancho máximo : 500 px ) {
  . receptivo {
    ancho : 100 % ;
  }
}

. clearfix : después de {
  contenido : "" ;
  pantalla : mesa;
  claro : ambos;
}

h4 {
	alineación de texto : centro

}

