ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.lista1 {
  float: left;
}

li.lista1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.lista1 a:hover {
  background-color: #111;
}
.header {
  padding: 20px;
  text-align: center;
}
.h1{
  text-align:center;
  color:green;
  text-decoration: underline;
   font-family: Copperplate, Papyrus, fantasy;
}
